.links-1-background {
  background-color: #F8F8F8;
  border-top: 2px solid #ECECEC ;
  border-bottom: 2px solid #ECECEC;
}

.links-1, .links-2 {
  list-style-type: none;
  overflow: hidden;
  width: 70%;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links-1 a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px 5px;
  text-decoration: none;
}

.links-1 a:hover, .links-2 a:hover {
  background-color: #E4E4E4;
}

.links-1__active {
  border-bottom: 3px solid orange;
}

.links-2-background {
  border-bottom: 2px solid #ECECEC;
}

.links-2 a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}
