.promo {
  width: 70%;
  margin: auto;
  overflow: hidden;
  border-top: 2px solid #ECECEC;
}

.promo-form {
  float: left;
}

.promo-form__input {
  height: 40px;
  width: 250px;
  text-indent: 10px;
  margin-right: 10px;
}

.promo-form__button {
  height: 40px;
  width: 200px;
  color: white;
  background-color: #B7B7B7;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}

.order-submit__button {
  float: right;
  height: 40px;
  width: 200px;
  color: white;
  background-color: #FE7A25;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}

.order-submit {
  float: right;
}

.order-submit__text {
  float: right;
  margin-left: 200px;
}

.order-submit__before-discount p {
  display: inline-block;
  margin-bottom: 10px;
}

.order-submit__discount p {
  color: #FE7A25;
  display: inline-block;
  margin: 0 0 20px;
}

.order-submit__after-discount p {
  display: inline-block;
}
