.footer-background {
  background-color: #2A2A2A;
}

.social-links {
  padding: 0.1% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
}

.social-links__unit {
  color: white;
  margin-right: 2%;
}

.footer-nav {
  color: white;
  padding: 2% 15%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.footer-nav__column {
  display: flex;
  width: 14%;
  padding: 0 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-nav__phone-column {
  width: 30%;
}

.footer-nav__phone-number {
  font-size: 1.8em;
  margin: 0;
}

.footer-nav__column a {
  font-size: 0.8em;
  display: block;
  color: white;
  text-decoration: none;
  padding: 3px 0;
}

.copyright {
  color: white;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 15%;
  text-align: center;
}
